html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
nav {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
.logo {
  display: flex;
  width: 0px;
  justify-content: space-between;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
}
.zazzi-m {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 2px;
  padding-right: 15px;
}
.zazzicont {
  letter-spacing: 2px;
  align-items: center;
  justify-content: space-around;
}
.archisub {
  position: relative;
  top: -1px;
  font-size: 20px;
  height: 21px;
  letter-spacing: 0px;
}
.Baumansub {
  font-size: 13px;
  letter-spacing: 0px;
}
.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
  z-index: 100;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
  z-index: 100;
}
.container {
  width: 65vw;
  max-width: 1620px;
  height: auto;
  margin: auto;
}
.carousel-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  background-color: #000;
}
.carousel-slide {
  display: flex;
  width: 100%;
  height: 100%;
}
.carousel-slide img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}
#prevBtn {
  position: absolute;
  top: 45%;
  z-index: 10;
  left: 0;
  font-size: 30px;
  color: #fff;
  opacity: 0.95;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#prevBtn:hover {
  background-color: #000;
  opacity: 1;
}
#prevBtn:active {
  transform: scale(0.9);
}
#nextBtn {
  position: absolute;
  top: 45%;
  z-index: 10;
  right: 0;
  font-size: 30px;
  color: #fff;
  opacity: 0.95;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#nextBtn:hover {
  background-color: #000;
  opacity: 1;
}
#nextBtn:active {
  transform: scale(0.9);
}
@media screen and (max-width: 924px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    justify-content: space-between;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 10vh;
    top: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 6;
  }
  .nav-links li {
    opacity: 0;
    z-index: 5;
  }
  .burger {
    display: block;
    z-index: 10;
  }
  .container {
    width: 100%;
  }
  .nav-active {
    transform: translateX(0%);
    z-index: 5;
  }
}
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    z-index: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    z-index: 10;
    background-color: #fff;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    z-index: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    z-index: 10;
    background-color: #fff;
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.hideelem {
  z-index: -10;
}
.teammain {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.teamhead {
  display: flex;
  justify-self: center;
  max-width: 1000px;
  width: 85%;
}
.perscontcont {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.personen-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 85%;
}
.personen-cont .card {
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.6s;
  filter: grayscale(5);
  z-index: 1;
}
.personen-cont .card:hover {
  filter: grayscale(0);
}
.personen-cont .card img {
  width: 400px;
  border-radius: 10px 10px 0 0;
  z-index: 2;
}
.personen-cont .card .card-container {
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
}
@media screen and (max-width: 924px) {
  .port-einleit {
    width: 100%;
  }
  .footer-cont {
    display: flex;
    justify-content: space-between;
    max-width: 1620px;
    width: 65vw;
    flex-direction: column;
  }
  .footer-right {
    display: flex;
    border-top-width: 2px;
    border-top-style: solid;
    margin-top: 20px;
  }
}
.port-einleit {
  max-width: 1620px;
  width: 65vw;
  margin: 0 auto;
  font-size: larger;
}
.projekteShow {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.outercard {
  display: flex;
  flex-direction: row;
}
.project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  flex-wrap: wrap;
  max-width: 1600px;
  width: 85%;
}
.project-card .card {
  margin: 10px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.6s;
  height: 360px;
}
.project-card .card:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}
.project-card .card:active {
  transform: scale(1.02);
}
.project-card .card img {
  width: 400px;
  height: auto;
}
.project-card .card .card-container {
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
}
.grayify {
  filter: grayscale(1);
}
.port-expand-1 {
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
.innercardpers {
  display: flex;
  flex-direction: row;
}
.dotdotdotclass {
  display: flex;
  height: 0px;
  position: relative;
  left: 350px;
  bottom: 60px;
  font-size: 50px;
  word-spacing: 1px;
  font-family: "Work Sans", sans-serif;
}
.isexpandable {
  cursor: pointer;
}
.impress {
  width: 65%;
  margin: 0 auto;
}
footer {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 5px 0px 0px 0px;
  border-top-color: #4e4e4e;
  margin-top: 50px;
}
.footer-left {
  display: flex;
}
.footer-right {
  display: flex;
}
.footer-right a {
  height: 30px;
}
.footfoot {
  display: flex;
  flex-direction: row;
  position: static;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.footfootleft {
  display: flex;
  position: static;
  font-size: 15px;
}
.footfootright {
  display: flex;
  position: static;
  font-size: 15px;
}
.footer-cont {
  display: flex;
  justify-content: space-between;
  max-width: 1620px;
  width: 65vw;
}
.footer-address b {
  font-weight: 600;
}
.alignedTitle {
  max-width: 1620px;
  width: 65vw;
  margin: 0 auto;
}
