html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: white;
  color: black;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
}

.zazzi-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 2px;
  padding-right: 15px;
}

.zazzicont {
  letter-spacing: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.archisub {
  position: relative;
  top: -1px;
  font-size: 20px;
  height: 21px;
  letter-spacing: 0px;
}

.Baumansub {
  font-size: 13px;
  letter-spacing: 0px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
  z-index: 100;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 100;
}

.container {
  width: 65vw;
  max-width: 1620px;
  height: auto;
  margin: auto;
}

.carousel-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

#prevBtn {
  position: absolute;
  top: 45%;
  z-index: 10;
  left: 0;
  font-size: 30px;
  color: white;
  opacity: 0.95;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#prevBtn:hover {
  background-color: black;
  opacity: 1;
}

#prevBtn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#nextBtn {
  position: absolute;
  top: 45%;
  z-index: 10;
  right: 0;
  font-size: 30px;
  color: white;
  opacity: 0.95;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#nextBtn:hover {
  background-color: black;
  opacity: 1;
}

#nextBtn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 924px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 10vh;
    top: 4vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 6;
  }
  .nav-links li {
    opacity: 0;
    z-index: 5;
  }
  .burger {
    display: block;
    z-index: 10;
  }
  .container {
    width: 100%;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    z-index: 5;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    z-index: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    z-index: 10;
    background-color: white;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    z-index: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    z-index: 10;
    background-color: white;
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.hideelem {
  z-index: -10;
}

.teammain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teamhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  max-width: 1000px;
  width: 85%;
}

.perscontcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.personen-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  width: 85%;
}

.personen-cont .card {
  margin: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-filter: grayscale(5);
          filter: grayscale(5);
  z-index: 1;
}

.personen-cont .card:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.personen-cont .card img {
  width: 400px;
  border-radius: 10px 10px 0 0;
  z-index: 2;
}

.personen-cont .card .card-container {
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
}

@media screen and (max-width: 924px) {
  .port-einleit {
    width: 100%;
  }
  .footer-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1620px;
    width: 65vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top-width: 2px;
    border-top-style: solid;
    margin-top: 20px;
  }
}

.port-einleit {
  max-width: 1620px;
  width: 65vw;
  margin: 0 auto;
  font-size: larger;
}

.projekteShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outercard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
  width: 85%;
}

.project-card .card {
  margin: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  height: 360px;
}

.project-card .card:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project-card .card:active {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.project-card .card img {
  width: 400px;
  height: auto;
}

.project-card .card .card-container {
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
}

.grayify {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.port-expand-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden {
  display: none;
}

.innercardpers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dotdotdotclass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0px;
  position: relative;
  left: 350px;
  bottom: 60px;
  font-size: 50px;
  word-spacing: 1px;
  font-family: 'Work Sans', sans-serif;
}

.isexpandable {
  cursor: pointer;
}

.impress {
  width: 65%;
  margin: 0 auto;
}

footer {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: solid;
  border-width: 5px 0px 0px 0px;
  border-top-color: #4e4e4e;
  margin-top: 50px;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-right a {
  height: 30px;
}

.footfoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: static;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
}

.footfootleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  font-size: 15px;
}

.footfootright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  font-size: 15px;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1620px;
  width: 65vw;
}

.footer-address b {
  font-weight: 600;
}

.alignedTitle {
  max-width: 1620px;
  width: 65vw;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */